

<div class="all">
  <h1 class="title">To-Do List</h1>
  <div class="container">
          <div class="task-input">
            <input type="text" [(ngModel)]="newTaskText" placeholder="Добавить новую задачу"(keyup.enter)="addTask()">
            <button (click)="addTask()">Добавить</button>
          </div>
          <div class="container-main" id="container-main">  
            <ul class="List">   
              <li *ngFor="let taskUndone of tasksUndone" (click)="statusChange('undone', taskUndone)" >
                <div class="task undone" ><div class="mark circle-undone"></div><span>{{taskUndone}}</span></div>
              </li>
            </ul>    
          </div>
      <hr class="line">
          <div class="container-ready">
            <ul class="List">
                <li *ngFor="let taskDone of tasksDone" (click)="statusChange('done', taskDone)">
                    <div class="task done"  ><div class="mark circle-done"></div><span>{{taskDone}}</span></div>
                </li>
            </ul>  
          </div>
  </div>
</div>